<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h1>Employee</h1>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


<table class="table table-bordered">
   
    <thead>
      <tr>
        <th scope="col">Employee ID</th>
        <th scope="col">Name</th>
        <th scope="col">Designation</th>
        <th scope="col">Email</th>
        <th scope="col">Year of Experience</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">123</th>
        <td>Mark</td>
        <td>Manger</td>
        <td>@mdo</td>
        <td>8 years</td>
      </tr>
      <tr>
        <th scope="row">235</th>
        <td>Jacob</td>
        <td>Trainee</td>
        <td>@shfatsd</td>
        <td>8 years</td>
      </tr>
      <tr>
        <th scope="row">235</th>
        <td>Jini</td>
        <td>Teamleader</td>
        <td>@fatsddgh</td>
        <td>9 years</td>
      </tr>
      <tr>
        <th scope="row">235</th>
        <td>Jeeb</td>
        <td>Developer</td>
        <td>@sdhfatsd</td>
        <td>8 years</td>
      </tr>
      <tr>
        <th scope="row">235</th>
        <td>Jyb</td>
        <td>Hr</td>
        <td>@seyfatsd</td>
        <td>3 years</td>
      </tr>
      <tr>
        <th scope="row">235</th>
        <td>George</td>
        <td>Trainee</td>
        <td>@sdhfatsd</td>
        <td>1 years</td>
      </tr>
      <tr>
        <th scope="row">235</th>
        <td>Jiya</td>
        <td>Tester</td>
        <td>@srufatsd</td>
        <td>4 years</td>
      </tr>
      <tr>
        <th scope="row">235</th>
        <td>Ram</td>
        <td>HR</td>
        <td>@fatsd</td>
        <td>8 years</td>
      </tr>
      <tr>
        <th scope="row">235</th>
        <td>Ravi</td>
        <td>Software Trainee</td>
        <td>@fatsd</td>
        <td>1 years</td>
      </tr>
      <tr>
        <th scope="row">786</th>
        <td>Anu</td>
        <td>Trainee</td>
        <td>@fatsd</td>
        <td> 1years</td>
      </tr>
      
    </tbody>
  </table>
                </div>
        </div>
    </div>
</div>